# Byte-compiled / cache
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
build/
dist/
*.egg-info/
.eggs/
pip-wheel-metadata/

# Virtual environments
venv/
env/
.venv/
.venv*/

# Environment variables
.env

# Pytest
.pytest_cache/

# Mypy
.mypy_cache/

# Editor / IDE
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# OS files
.DS_Store
Thumbs.db

# Logs
*.log

# SQLite DBs (local embeddings/db files)
chroma_db/*.sqlite3
*.sqlite3

# Python bytecode
*.pyc
*.pyo
*.pyd

# Data folder
data/

#chroma DB
chroma_db/

